.lockers {
  display: grid;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Ajustable */
  gap: 8px;
  margin-top: 60px;
  padding-bottom: 10px;
  padding-left: 10px;
}

@media (width <= 764px) {
  .lockers {
    width: 90vw;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr)); /* Ajustable */
  }
}
