.layout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
}

@media (width <= 764px) {
  .grid {
    width: 100%;
    column-gap: 4px;
    row-gap: 0px;
    margin-left: -20px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
}
