.layout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  width: 100%;
  max-height: 520px;
  overflow: auto;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
  padding: 20px;
  background-color: #151719;
  border: 1px solid #2d2d2d;
  border-radius: 12px;
}

@media (width <= 764px) {
  .grid {
    width: 100%;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
}
