.layout {
  width: 100%;
  min-height: clamp(320px, 42vh, 420px);
  max-height: clamp(210px, 50vh, 720px);
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(54px, 1fr));
  gap: 8px;
  justify-items: center;
}

@media (width <= 764px) {
  .grid {
    width: 100%;
    column-gap: 4px;
    row-gap: 4px;
    margin-left: 0;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
}
