.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.title {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.label {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  display: flex;
  gap: 5px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

.label:hover {
  cursor: pointer;
  color: #007fff;
}

.vehicleState {
  color: #007fff;
}

.input {
  background-color: #2d2d2d;
  border: none;
  width: 200px;
  border-radius: 14px;
  padding: 12px 10px;
  color: #007fff;
  outline: 1px solid #000000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.containerPlaca {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.labelPlaca {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.containerLocker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.inputLocker {
  border-bottom: 2px solid #007fff;
  background: transparent;
  padding: none;
  outline: none;
  width: 40px;
  height: fit-content;
  border-radius: 2px;
  color: #007fff;
  text-transform: uppercase;
  font-size: 1rem;
}

.labelLocker {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

.input:focus {
  outline: 1px solid #007fff;
}

.inputLocker:focus {
  outline: none;
}
