.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.label {
  font-size: 1.3rem;
  color: #fff;
  display: flex;
  gap: 5px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

.input {
  background-color: #2d2d2d;
  border: none;
  width: 200px;
  border-radius: 14px;
  padding: 14px 10px;
  color: #007fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.containerPlaca {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.labelPlaca {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.containerLocker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.inputLocker {
  background-color: #2d2d2d;
  border: none;
  width: 60px;
  border-radius: 14px;
  padding: 14px 0;
  color: #007fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.labelLocker {
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

.input:focus {
  border-color: #007fff;
}
