.primaryActions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.box {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: clamp(12px, 2vh, 18px);
  margin-top: 0;
}

/* @media (width <= 900px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
} */

@media (width <= 768px) {
  .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
  }

  .primaryActions {
    display: none;
  }
}
