.title {
  color: #2175db;
  font-weight: 800;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 32px;
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.label {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.subtitle {
  color: #ffffff;
  width: 100%;
  max-width: 360px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 16px;
  font-size: 0.95rem;
  line-height: 1.5;
}
strong {
  color: #2175db;
}

.link {
  color: #2175db;
  font-size: 1rem;
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: #10385b;
  transition: all ease-in-out 0.1s;
}

.input {
  width: 100%;
  height: 44px;
  border: 2px solid #000000;
  border-radius: 12px;
  background-color: #ffffffcc;
  color: #000000;
  font-size: 1.05rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0 12px;
  outline: none;
  transition: border-color 0.2s;
}

.input:focus {
  border-color: #2175db;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.containerPassword {
  position: relative;
}

.btn_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #6b7280;
}

.successMessage {
  color: #0abf30;
}

@media (width <= 800px) {
  .subtitle {
    width: 70%;
  }
}
