td {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

.clickable:hover {
  background-color: #111;
  cursor: pointer;
}

/* Simular fila seleccionada */
tr.selected {
  background-color: #10385b;
}
