.container td {
  padding: 2px 12px;
  text-align: center;
  border-bottom: 1px solid rgba(247, 174, 174, 0.1);
  background-color: transparent;
  line-height: 1.1;
}

.container {
  height: auto;
}

.exitCell {
  width: 20px;
}

.clickable:hover {
  background-color: #0b1728;
  cursor: pointer;
}

/* Simular fila seleccionada */
tr.selected {
  background-color: #10385b;
}
