td {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid rgba(247, 174, 174, 0.1);
  background-color: transparent;
}

.exitCell {
  width: 20px;
}

.clickable:hover {
  background-color: #0b1728;
  cursor: pointer;
}

/* Simular fila seleccionada */
tr.selected {
  background-color: #10385b;
}
