.container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.title {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.column1,
.column2 {
  background-color: #2d2d2d;
  border-radius: 10px;
}

.column1 {
  width: 70%;
  height: 350px;
  overflow-y: scroll;
}

.column2 {
  width: 30%;
  height: 350px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

body {
  font-family: sans-serif;
  padding: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  color: white;
}

th,
td {
  padding: 0.5rem 1rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

th {
  font-weight: bold;
  color: #007fff;
}

.header:hover {
  background-color: transparent;
  cursor: default;
}

@media (width <= 1264px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }
  .column1 {
    width: 100%;
  }

  .column2 {
    width: 50%;
  }
}

@media (width <= 900px) {
  .container {
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
  }
  .column2 {
    width: 70%;
  }
}

@media (width <= 764px) {
  .column2 {
    width: 90%;
  }
}
