.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column1 {
  margin-top: -30px;
  background-color: #2d2d2d;
  border-radius: 10px;
  width: 30%;
  height: 320px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.containerButton {
  margin-top: 40px;
}

.column2 {
  display: flex;
  flex-direction: column;
  gap: 120px;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 100px;
}

.input {
  background-color: #2d2d2d;
  border: none;
  width: 200px;
  border-radius: 14px;
  padding: 14px 10px;
  color: #007fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.containerPlaca {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.labelPlaca {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (width <= 900px) {
  .container {
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
  }
  .column1 {
    width: 70%;
  }
}

@media (width <= 764px) {
  .column1 {
    width: 90%;
  }
}
