.button {
  width: 270px;
  height: 100px;
  background: linear-gradient(335deg, #00366b 20%, rgba(0, 89, 179, 1) 80%);
  background-size: 100% 100%;
  border: 2px solid #00366b;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0 40px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-position 0.3s ease-in-out;
}

.button:hover {
  background-size: 140% 100%;
  background-position: right center;
  border: 2px solid #007fff;
}

.salida {
  background: linear-gradient(335deg, #6e0000 20%, rgba(227, 0, 0, 1) 80%);
  background-size: 100% 100%;
  border: 2px solid #6e0000;
}

.salida:hover {
  background-size: 140% 100%;
  background-position: right center;
  border: 2px solid #ff0000;
}

.button:hover {
  scale: 1.01;
  transition: all 0.2s ease-in-out;
}

.button:active {
  scale: 0.9;
  transition: all 0.1s ease-in-out;
}

@media (width <= 900px) {
  .button {
    width: 200px;
    height: 80px;
    font-size: 1rem;
  }
}

@media (width <= 420px) {
  .button {
    width: 170px;
    height: 75px;
    font-size: 0.8rem;
  }
}
