.closeButton {
  position: fixed;
  z-index: 20;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #383838;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1002;
}

.closeButton:hover svg {
  scale: 1.05;
  translate: -2px 0px;
  transition: all 0.1s ease-in-out;
}

.closeButton svg {
  width: 30px;
  height: 30px;
}
