.container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 6px 20px;
  background-color: #151719;
  border: 1px solid #2d2d2d;
  border-radius: 999px;
}

.counter svg {
  width: 28px;
  height: 28px;
  color: #007fff;
}

.span {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
