.title {
  color: #fff;
  font-size: clamp(2.2rem, 6vw, 3rem);
  text-align: center;
  margin: 0;
  font-family: "Chela One", system-ui;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.strong {
  color: #0059b3;
}

/* MEDIA QUERIES */
@media (width <= 768px) {
  .title {
    font-size: clamp(4rem, 7vw, 4.8rem);
  }
}
