.locker {
  width: 52px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #0f0f10;
  background-color: #094582;
}

.off {
  background-color: #2d2d2d66;
}

.chart {
  width: 24px;
  height: 14px;
  position: absolute;
  z-index: 10;
  top: 4px;
  right: 4px;
  background: #000000d7;
  border-radius: 2px;
}

.chart p {
  font-size: 11px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.lock {
  width: 3px;
  height: 20px;
  position: absolute;
  top: 30px;
  left: 4px;
  border: 1.5px solid #fff;
}

.circle {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 100%;
}

.active {
  background: #00ff2f;
}

.busy {
  background: #ff0000;
}

.bars {
  width: 20px;
  position: absolute;
  top: 36px;
  left: 16px;
  background-color: #fff;
  border: 1px solid #fff;
}

.bars2 {
  top: 40px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placa {
  font-size: 9px;
  font-weight: 600;
  color: #036bea;
  margin-left: 6px;
  margin-top: 26px;
}

@media (width <= 764px) {
  .locker {
    scale: 0.95;
  }
}
