.hour {
  font-size: 2.2rem;
  color: #0075db;
  font-weight: bold;
  text-align: center;
  margin: 0;
  z-index: 10;
}

.compact {
  font-size: 1.7rem;
  letter-spacing: 0.04em;
  text-align: left;
}

@media (width <= 768px) {
  .compact {
    font-size: 1.5rem;
  }
}
